<div class='container-fluid conversation'>
  <div id="messages">
    <% @conversation.messages.each do |message| %>
      <p><strong><%= message.user.username %>: </strong><%= message.content %></p>
    <% end %>
  </div>

  <%= form_for Message.new, url: conversation_messages_path(@conversation), remote: true, authenticity_token: true do |f| %>
    <div class="form-group">
      <%= f.label :your_message %>:
      <%= f.text_area :content, class: "form-control", data: { textarea: "message" } %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :user_id, value: params[:user_id] %>
      <%= f.submit "send", class: "btn btn-primary", data: { send: "message" } %>
    </div>
  <% end %>
</div>
